@model CleanArchitecture.MVC.Model.ViewModels.Weblog.UpdateWeblogVM

@{
    ViewData["Title"] = "EditWeblog";
}

<h1>EditWeblog</h1>

<h4>UpdateWeblogVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditWeblog">
            @Html.AntiForgeryToken();
            @Html.HiddenFor(x=>x.Id);
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeblogCategoryId" class="control-label"></label>
                <input asp-for="WeblogCategoryId" class="form-control" />
                <span asp-validation-for="WeblogCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
